body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #F7F7F7;
  color: #222;
  background-color: #f7f7f7;
  font-size: 100%;
}

a {
  color: #007777;
}

@media print {
  .reveal section > h1,
  .reveal section > h3 {
    margin-top: 20% !important;
  }

  .reveal aside.notes{
    display: block;
    border: 1px solid #E6FC86;
    position: relative;
    width: 100%;
    background: #F2FEBC;
    font-size: 1.5em;
    line-height: 1.5;
    padding: 15px;
    margin-top: 10px;
  }

  .reveal aside.notes.author{
    display: none;
  }

  .reveal .author h3{
    font-size: 7em;
  }

  .reveal .author ul{
    font-size: 2em;
  }
 .reveal pre code{
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: 200
}
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-shadow: none;
}

.reveal h1 {
  color: #ED245D;
  font-size: 9em;
  font-weight: 700;
}

.reveal h2{
  line-height: 1.2;
  font-weight: 200;
}

.reveal h3{
  font-size: 6em;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 15px;
  display: block;
  font-weight: 700;
}

.reveal h4{
  font-size: 2em;
}

.reveal blockquote{
  margin: 0 auto;
  border: none;
  border-left: 10px solid #ED245D;
  padding: 0 0 0 30px;
  font-style: italic;
  background: none;
  text-align: left;
  box-shadow: none;
  font-size: 2em;
  line-height: 1.5;
  width: 80%;
}

.reveal cite{
  display: block;
  padding: 30px 0 0 30px;
  margin: 0 auto;
  border-left: 10px solid #ED245D;
  font-style: italic;
  text-align: left;
  width: 80%;
  color: #666;
  font-size: 1.3em;
}

.reveal cite a{
  color: #666;
  font-size: 1.3em;
}

.author h3{
  font-size: 12em;
  text-align: left;
  color: #F7F7F7;
}

.author ul {
  font-size: 3em;
  line-height: 1.5;
  color: #F7F7F7;
  text-align: left;
  padding: 0;
  display: block;
}

.author ul a{
  color: #F7F7F7;
  text-decoration: none;
}

.reveal ul{
  display: block;
  margin: 0 auto;
  width: 90%;
  padding: 0;
  font-size: 4em;
  line-height: 1.5;
  overflow: hidden
}

.reveal ul.inline li {
  list-style: none;
  font-weight: 700;
  float: left;
}

.reveal ul.inline li + li {
  margin: 0;
}

.highlight{
  border-bottom: 1px solid #ED245D;
}

.reveal pre code{
  font-size: 3em;
  line-height: 1.3;
  font-weight: 200
}

.reveal pre{
  box-shadow: none
}

.reveal .controls div.navigate-left {
  border-right-color: #ED245D;
}

.reveal .controls div.navigate-right {
  border-left-color: #ED245D;
}

.reveal .controls div.navigate-up {
  border-bottom-color: #ED245D;
}

.reveal .controls div.navigate-down {
  border-top-color: #ED245D;
}

.reveal .controls div.enabled {
  opacity: 1;
}

.reveal section.links ul{
  font-size: 1.5em;
}
